.backpanel {
    background: rgba(194, 191, 191, 0.8);
  backdrop-filter: saturate(180%) blur(10px);
}

/* .authtext {
    background: 
    radial-gradient(circle, rgba(231,90,124,1) 0%, rgba(194,110,145,1) 64%, rgba(0,212,255,0.018893287295386862) 100%) padding-box;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "poppins";
    src: url('../public/assets/fonts/Poppins/Poppins-Regular.ttf');
}

